In [ ]:
import pandas as pd

Loading the dataset from my drive and showing first five rows

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv')

In [ ]:
df.head()

   order_id  shop_id  user_id  ...  total_items  payment_method           created_at
0         1       53      746  ...            2            cash  2017-03-13 12:36:56
1         2       92      925  ...            1            cash  2017-03-03 17:38:52
2         3       44      861  ...            1            cash   2017-03-14 4:23:56
3         4       18      935  ...            1     credit_card  2017-03-26 12:43:37
4         5       18      883  ...            1     credit_card   2017-03-01 4:35:11

[5 rows x 7 columns]

# **Question 1**

# Think about what could be going wrong with our calculation

Average Order Value (AOV) is an ecommerce metric that tracks the average dollar amount spent whenever a customer places an order on a website or application.

AOV=REVENUE/NUMBER OF ORDERS

For example, let’s say that in the month of September, your web store’s sales were $50,000 and you had a total order of 5000, the AOV is 50,000 divided by 5000 which is 10.

As rightly noted average order values for sneakers should not be as high as $3145.13.

**What could be wrong with the calculation**

Rather than Sum up the order amount and divide by sum of the the total_items 
i.e  Sum(order amount)/Sum(total_items), the calculation was done by summing up the the order amount and dividing by the count of the orders made i.e 
Sum(order amount)/count(orders) which is just the mean of the order_amount column as follows:

In [ ]:
df['order_amount'].sum()/df['order_id'].count()

3145.128

In [ ]:
df['order_amount'].mean()

3145.128

**Think about a better way to evaluate this data.**

A better way to solve for the AOV is to Sum up the order amount and divide by sum of the the total_items i.e Sum(order amount)/Sum(total_items).

**What metric would you report for this dataset?**

The metric for AOV is Revenue(sum of the order_amount) and Number of orders(sum of the total_items).
AOV=Revenue/Number_of_order

**What is its value?**

In [ ]:
Revenue=df['order_amount'].sum()
Number_of_order=df['total_items'].sum()

AOV=Revenue/Number_of_order
print('Newly Calculated AOV is $' + str(AOV))

Newly Calculated AOV is $357.92152221412965

# **Question 2**

# How many orders were shipped by Speedy Express in total?

QUERY: SELECT Count(*) FROM [Orders] where ShipperID=1

Answer: 54

# What is the last name of the employee with the most orders?

QUERY: SELECT LastName FROM [Employees] where EmployeeID= (SELECT EmployeeID FROM [Orders] Group by EmployeeID ORDER BY COUNT(EmployeeID) DESC Limit 1)

Answer: Peacock

# What product was ordered the most by customers in Germany?

QUERY: SELECT * FROM [Products] where ProductID=(SELECT ProductID FROM [OrderDetails] where OrderID=(SELECT OrderID FROM [Orders] where CustomerID=(SELECT CustomerID FROM [Customers] where Country='Germany')))

Answer: No result.